---
layout: default
---
{% assign sorted_posts = paginator.posts | sort: 'pub_date' %}
{% for post in sorted_posts %}
  <div class="one-post">
    <a href="{{ post.url }}"><span class="title">{{ post.title }}<span></a>
    <p class="date">{{ post.date | date: "%b %-d, %Y" }}</p>
    <div class="content">
      {{ post.content | split:'<!--break-->' | first }}
      {% if post.content contains '<!--break-->' %}
      <a href="{{ post.url }}">read more</a></p>
      {% endif %}
    </div>
  </div>
{% endfor %}

<br/>

<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
  {% else %}
    <span class="previous">Previous</span>
  {% endif %}
  <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
  {% else %}
    <span class="next ">Next</span>
  {% endif %}
</div>
